html {
    font-family: 'Source Sans Pro', sans-serif;
}

td {
    font-size: 13px;
}

tr {
    padding-bottom: 0px;
}

.avatar-admin {
    width: 25px;
    border-radius: 50%;
}

#btn-apply {
    border-radius: 10px;
}

#messageSuccess, #messageError, #messageHello,
#messageUpdateSuccess, #messageProductSuccess, #messageDeleteSuccess {
    visibility: hidden;
    text-align: center;
    position: fixed;
    z-index: 10;
    left: 50%;
    top: 30px;
    font-size: 15px;
}

#messageSuccess.show-mess {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#messageError.show-mess {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#messageHello.show-mess {
    visibility: visible;
    -webkit-animation: fadein 1s, fadeout 1s 3s;
    animation: fadein 1s, fadeout 1s 3s;
}

#messageUpdateSuccess.show-mess {
    visibility: visible;
    -webkit-animation: fadein 1s, fadeout 1s 3s;
    animation: fadein 1s, fadeout 1s 3s;
}

#messageProductSuccess.show-mess {
    visibility: visible;
    -webkit-animation: fadein 1s, fadeout 1s 3s;
    animation: fadein 1s, fadeout 1s 3s;
}

#messageDeleteSuccess.show-mess {
    visibility: visible;
    -webkit-animation: fadein 1s, fadeout 1s 3s;
    animation: fadein 1s, fadeout 1s 3s;
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 1px 0;
    border-radius: 4px;
}

/*.bg-body{*/
/*background: url("../img/bg-content.jpg") no-repeat fixed;*/
/*-webkit-background-size: cover;*/
/*-moz-background-size: cover;*/
/*-o-background-size: cover;*/
/*background-size: cover;*/
/*}*/

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.text-white {
    color: #fff !important;
    font-weight: bold !important;
}

.showImage {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.showImage:hover {
    opacity: 0.8;
}

/* The Modal (background) */
.modal-image {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content-image {
    margin: auto;
    display: block;
    width: 35%;
    max-width: 700px;
}

/* Add Animation */
.modal-content-image {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close-image {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close-image:hover,
.close-image:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content-image {
        width: 100%;

    }

}
