#messageDeleteCart {
    visibility: hidden;
    text-align: center;
    position: fixed;
    z-index: 10;
    left: 43%;
    top: 20%;
    font-size: 15px;
}

#messageDeleteCart.show-mess {
    visibility: visible;
    -webkit-animation: fadein 1s, fadeout 1s 3s;
    animation: fadein 1s, fadeout 1s 3s;
}

.icon{
    opacity: 0.5;
    color: #ff724f;
}

.icon:hover{
    opacity: 0.9;
}

.btn-delete:focus{
    outline: none;
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 20%;
        opacity: 1;
    }
}

.pagination {
    text-align: center !important;
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 20%;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 20%;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 20%;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}